* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 30rem 10rem;
  grid-template-rows: 5rem 5rem 5rem 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
  grid-template-rows: 3rem 2rem 3rem;
}

input,
button {
  font-family: "Roboto Mono", monospace;
  height: 4rem;
}

h1 {
  font-size: 4rem;
  grid-column: 1/ -1;
  justify-self: center;
  letter-spacing: -0.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.sub-heading {
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

input {
  padding: 1rem 2rem;
}

button {
  padding: 1rem 2rem;
}

.result {
  font-size: 1.8rem;
  grid-column: 1 / -1;
}
